<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Ebook File Server</h1>

      <div
        class="dropzone"
        id="drop-zone"
      >
      <form
        class="file-upload-container"
        id="upload-form"
      >
        <label class="file-input-label" for="file-upload-input">
          New ebook
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
        </label>
        <input
          type="file"
          name="ebook-file"
          class="file-input"
          id="file-upload-input"
          accept=".epub,.txt"
          required />
      </form>
      </div>

      <h4 class="file-list-header">
        Files in <span class="path">{{.FolderPath}}</span>
      </h4>
      <ul class="list" id="file-list">
        {{range .Files}}
        <li class="file">
          <div class="file-name">
          <span>{{.Name}}</span>
          {{if .IsNew}}<span class="new-indicator">New</span>{{end}}
          </div>
          <a class="download-btn" href="{{.Path}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
          </a>
        </li>
        {{end}}
      </ul>
    <div >
  </body>
  <script type="text/javascript" src="static/upload.js" ></script>
  <script type="text/javascript" src="static/socket.js" ></script>
</html>
